body{
    font-family: Arial;
    background:#f5f5f5;
}

h1{
    color:blue;
}
section {
    width: 450px;
    background: blue;
}
img {
    width: 350px;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
table {
    border-spacing: 30px;
}
th, td {
  background-color: #96D4D4;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
}